.sass-cache
syntax:glob
######## dotfiles, any
*.coverage
*.pyc
*.pyo
*.orig
*.swp
*.swo
*.dropbox
*.DS_Store
*.idea/
*.ropeproject
eggs
.idea/*
!.idea/vcs.xml
env/*
media/*
celeryd.log
designed_html
docs/build/*
sozai/*
*.css.map
*.js.map

####### Project
zaif_nonce.txt
settings.py
logs/*

node_modules
.hgignore
.hg
nohup.out

