# Zaif
# 開発者向けAPI -> API Keys から発行する

# Zaif APIキー
ZAIF_API_KEY = ''

# Zaif APIシークレット
ZAIF_API_SECRET = ''

# BitFlyer
# https://lightning.bitflyer.jp/developer
# APIキー
BITFLYER_API_KEY = ''

# APIシークレット
BITFLYER_API_SECRET = ''

# 終値を Google Drive に保存する場合
GOOGLE_API_DRIVE_PARENT_ID = ''